<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">User-Management</a></li>
    <li class="breadcrumb-item active" aria-current="page">Employees</li>
  </ol>
</nav>

<div class="row" *ngIf="screeenAuth">
  <div class="col-md-12 ">
    <button mat-raised-button color="primary" class="fl-right" (click)="empDivSwitch(1)" >Create Employee</button> <br><br>
  </div>
  <div class="col-md-12 " *ngIf="creatEmpDiv" @fade>
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">New Employee</h6>
        <form #formDirective="ngForm" class="forms-sample" [formGroup]="NewEmpForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="EmpFirstName">First Name</label>
                <input type="text" placeholder="First Name"
                  formControlName="EmpFirstName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.EmpFirstName.errors }" />
                <div *ngIf="submitted && f.EmpFirstName.errors" class="invalid-feedback">
                  <div *ngIf="f.EmpFirstName.errors.required">Firstname is required</div>
                </div>
              </div>
              <!-- <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="Password" value="12345678"> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="EmpLastName"> Last Name</label>
                <input type="text" placeholder="Last Name"
                  formControlName="EmpLastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.EmpLastName.errors }" />
                <div *ngIf="submitted && f.EmpLastName.errors" class="invalid-feedback">
                  <div *ngIf="f.EmpLastName.errors.required">Lastname is required</div>
                </div>
              </div>
              <!-- <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="Password" value="12345678"> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="EmpPhone">Phone</label>
                <input type="text" placeholder="Phone"
                  formControlName="EmpPhone" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.EmpPhone.errors }" on-focusout="CheckPhoneExists()"/>
                <div *ngIf="submitted && f.EmpPhone.errors" class="invalid-feedback">
                  <div *ngIf="f.EmpPhone.errors.required">phone is required</div>
                  <div *ngIf="f.EmpPhone.errors.pattern">phone invalid</div>
                </div>
                <div *ngIf="checkPhone" class="error">
                  Phone already registered
                 </div>
              </div>
              <!-- <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="Password" value="12345678"> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="EmpEmail">Email</label>
                <input type="text" placeholder="Email"
                  formControlName="EmpEmail" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.EmpEmail.errors }"   on-focusout="CheckMailExists()"/>
                <div *ngIf="submitted && f.EmpEmail.errors" class="invalid-feedback">
                  <div *ngIf="f.EmpEmail.errors.required">Email is required</div>
                  <div *ngIf="f.EmpEmail.errors.email">Email is Invalid</div>
                </div>
                <div *ngIf="checkEmail" class="error">
                 Email already registered
                </div>
              </div>
              <!-- <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="Password" value="12345678"> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Role">Role</label>
                <ng-select
                    formControlName="Role" class="form-control cus-cntrl"
                    [items]="roles"
                    [multiple]=false
                    [closeOnSelect]="false"
                    [searchable]="false"
                    bindLabel="cl_role_name"
                    placeholder="Select Role"
                    [(ngModel)]="selectedRole"
                    [ngClass]="{ 'is-invalid': submitted && f.Role.errors }"
                    >
                  </ng-select>
                <div *ngIf="submitted && f.Role.errors" class="invalid-feedback">
                  <div *ngIf="f.Role.errors.required">Role is required</div>
                </div>
                <!-- <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="Password" value="12345678"> -->
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="example-button-row fl-right">
              <button mat-raised-button color="primary" class="">Save</button>
              <button mat-raised-button color="warn" class="" (click)="empDivSwitch(0)">Close</button>
              </div>
          </div>
        </form>

      </div>

    </div>
    <div class="spacer"></div>
  </div>

  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Employee List</h6>
        <div class="table-responsive">
          <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">

            <ngx-datatable-column name="Emp ID" prop="cl_user_user_id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_user_id}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="First name" prop="cl_user_first_name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_user_first_name}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last name" prop="cl_user_last_name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_user_last_name}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Phone" prop="cl_user_phone">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_user_phone}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" prop="email">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_user_email}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Role" prop="cl_role_name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cl_role_name}}
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a [routerLink]="'/user-management/employee-update'" [queryParams]="{'employee' : row.cl_user_id}"><i class="feather icon-edit"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper full-page" *ngIf="!screeenAuth">
  <div class="page-content d-flex align-items-center justify-content-center">

    <div class="row w-100 mx-0 auth-page">
      <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
        <img src="assets/images/404.svg" class="img-fluid mb-2" alt="401">
        <h1 class="font-weight-bold mb-22 mt-2 tx-80 text-muted">SORRY!</h1>
          <h4 class="mb-2">You'r not Authorized. Please contact admin</h4>
      </div>
    </div>

  </div>
</div>
