.fl-right{
  float: right;
  margin-bottom: 15px;
}
.page-breadcrumb{
  margin-bottom: 0px;
}

ng-select.form-control.cus-cntrl{
  padding: 0!important;
  height: 38px!important;
}
.error{
  color: red;
  padding:5px;
}
